@model IEnumerable<SJAHE_BASE_LIBRARY.Models.PY_EmpFixedComponent>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PY_FixedComponent.FixedComponentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FixedComponentValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EF01)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EF02)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EF03)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpFixedComponentCreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpFixedComponentDateCreatedOn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PY_FixedComponent.FixedComponentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FixedComponentValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EF01)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EF02)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EF03)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpFixedComponentCreatedBy)
                    </td>
                    <td>
                        @item.EmpFixedComponentDateCreatedOn.ToString("dd/MM/yyyy") @*@Html.DisplayFor(modelItem => item.EmpFixedComponentDateCreatedOn)*@
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary btn-sm" data-position="bottom" data-delay="50" title="Edit Records" href="@Url.Action("Edit", "EmployeeFixedComponents", new { id=item.EmpFixedComponentID })">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-info btn-sm" data-position="bottom" data-delay="50" title="Detail Records" href="@Url.Action("Details", "EmployeeFixedComponents", new { id=item.EmpFixedComponentID })">
                                <i class="fa fa-list"></i>
                            </a>
                            <a class="btn btn-warning btn-sm" data-position="bottom" data-delay="50" title="Delete Records" href="@Url.Action("Delete", "EmployeeFixedComponents", new { id=item.EmpFixedComponentID })">
                                <i class="fa fa-remove"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


