@model IEnumerable<SJAHE_BASE_LIBRARY.Models.PY_NonFixedComponent>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-blue">
            <div class="panel-heading">
                <h5>NON FIXED COMPONENT LIST</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <input type="hidden" value="@ViewBag.Count" id="Count" name="Count" />
                    @{
                        int j = 0;
                        foreach (var i in Model)
                        {
                            j += 1;
                            <div class="col-md-6">
                                <div class="form-group">
                                    @i.NonFixedComponentName
                                    <div class="material-switch pull-right">
                                        <input type="checkbox" onclick="NonFixedFunction(this);" id="@j" name="chkNonFixed[]" title="@j" value="@i.NonFixedComponentID" />
                                        <label for="@j" class="label-primary"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="NonFixedValue_@j" name="txtValue[]" class="form-control" disabled="disabled" value="0" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function NonFixedFunction(a) {
        debugger;
        if (a.checked) {
            var a = $(a).attr('id');
            var b = 'NonFixedValue_' + a;
            document.getElementById(b).disabled = false;
        }
        else{
            var a = $(a).attr('id');
            var b = 'NonFixedValue_' + a;
            document.getElementById(b).disabled = true;
        }
    }
</script>
