@model IEnumerable<SJAHE_BASE_LIBRARY.Models.SC_MenuUserRole>

@{
    ViewBag.Title = "Index";
}


<div class="box box-primary">
    <div class="box-header ui-sortable-handle">
        <i class="fa fa-clipboard"> MENU BY USER ROLE</i>
        <div class="box-tools pull-right">
            <div class="btn-group">
                <a class="btn btn-danger" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Create", "MenuUserRoles")">
                    <i class="fa fa-plus"> NEW</i>
                </a>
                <a class="btn btn-warning" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Index", "MenuUserRoles")">
                    <i class="fa fa-refresh"> REFRESH</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Export", "MenuUserRoles")">
                    <i class="fa fa-sign-out"> EXPORT</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Import", "MenuUserRoles")">
                    <i class="fa fa-arrow-circle-o-left"> IMPORT</i>
                </a>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AP_ApplicationModule.ApplicationModuleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AP_Menu.MenuName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AP_SubChildMenu.SubChildMenuName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AP_SubMenu.SubMenuName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SC_UserRole.UserRoleID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MenuUserRoleCreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MenuUserRoleCreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MenuUserRoleStatus)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AP_ApplicationModule.ApplicationModuleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AP_Menu.MenuName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AP_SubChildMenu.SubChildMenuName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AP_SubMenu.SubMenuName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SC_UserRole.UserRoleID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MenuUserRoleCreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MenuUserRoleCreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MenuUserRoleStatus)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" data-position="bottom" data-delay="50" title="Edit Records" href="@Url.Action("Edit", "MenuUserRoles", new { id=item.MenuUserRoleID })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-info" data-position="bottom" data-delay="50" title="Detail Records" href="@Url.Action("Details", "MenuUserRoles", new { id=item.MenuUserRoleID })">
                                        <i class="fa fa-list"></i>
                                    </a>
                                    <a class="btn btn-warning" data-position="bottom" data-delay="50" title="Delete Records" href="@Url.Action("Delete", "MenuUserRoles", new { id=item.MenuUserRoleID })">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
