@model IEnumerable<SJAHE_BASE_LIBRARY.Models.SC_User>

@{
    ViewBag.Title = "Index";
}


<div class="box box-primary">
    <div class="box-header ui-sortable-handle">
        <i class="fa fa-clipboard"> USERS</i>
        <div class="box-tools pull-right">
            <div class="btn-group">
                <a class="btn btn-danger" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Create", "Users")">
                    <i class="fa fa-plus"> NEW</i>
                </a>
                <a class="btn btn-warning" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Index", "Users")">
                    <i class="fa fa-refresh"> REFRESH</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Export", "Users")">
                    <i class="fa fa-sign-out"> EXPORT</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Import", "Users")">
                    <i class="fa fa-arrow-circle-o-left"> IMPORT</i>
                </a>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserFullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserEmailAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserContactNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserPassword)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserImageUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserStatus)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserEmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserPassword)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserImageUrl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserStatus)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" data-position="bottom" data-delay="50" title="Edit Records" href="@Url.Action("Edit", "Users", new { id=item.UserID })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-info" data-position="bottom" data-delay="50" title="Copy Records" href="@Url.Action("Details", "Users", new { id=item.UserID })">
                                        <i class="fa fa-files-o"></i>
                                    </a>
                                    <a class="btn btn-warning" data-position="bottom" data-delay="50" title="Delete Records" href="@Url.Action("Delete", "Users", new { id=item.UserID })">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
