@model IEnumerable<SJAHE_BASE_LIBRARY.Models.PY_PayrollPeriod>

@{
    ViewBag.Title = "Index";
}


<div class="box box-primary">
    <div class="box-header ui-sortable-handle">
        <i class="fa fa-clipboard"> PAYROLL PERIOD</i>
        <div class="box-tools pull-right">
            <div class="btn-group">
                <a class="btn btn-danger" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Create", "PayrollPeriod")">
                    <i class="fa fa-plus"> NEW</i>
                </a>
                <a class="btn btn-warning" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Index", "PayrollPeriod")">
                    <i class="fa fa-refresh"> REFRESH</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Export", "PayrollPeriod")">
                    <i class="fa fa-sign-out"> EXPORT</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Import", "PayrollPeriod")">
                    <i class="fa fa-arrow-circle-o-left"> IMPORT</i>
                </a>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Month)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalaryStartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalaryEndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OvertimeStartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OvertimeEndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AbsenteeismStartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AbsenteeismEndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.JamsostekStartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.JamsostekEndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Month)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalaryStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalaryEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OvertimeStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OvertimeEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AbsenteeismStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AbsenteeismEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JamsostekStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JamsostekEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" data-position="bottom" data-delay="50" title="Edit Records" href="@Url.Action("Edit", "PayrollPeriod", new { id=item.PayrollPeriodID })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-info" data-position="bottom" data-delay="50" title="Detail Records" href="@Url.Action("Details", "PayrollPeriod", new { id=item.PayrollPeriodID })">
                                        <i class="fa fa-list"></i>
                                    </a>
                                    <a class="btn btn-warning" data-position="bottom" data-delay="50" title="Delete Records" href="@Url.Action("Delete", "PayrollPeriod", new { id=item.PayrollPeriodID })">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
