@model SJAHE_BASE_LIBRARY.Models.PY_FixedComponent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PY_FixedComponent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FixedComponentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedComponentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedComponentCreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedComponentCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedComponentDateCreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedComponentDateCreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FixedComponentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
