@model IEnumerable<SJAHE_BASE_LIBRARY.Models.PY_FixedComponent>

@{
    ViewBag.Title = "Index";
}


<div class="box box-primary">
    <div class="box-header ui-sortable-handle">
        <i class="fa fa-clipboard"> FIXED COMPONENT</i>
        <div class="box-tools pull-right">
            <div class="btn-group">
                <a class="btn btn-danger" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Create", "FixedComponents")">
                    <i class="fa fa-plus"> NEW</i>
                </a>
                <a class="btn btn-warning" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Index", "FixedComponents")">
                    <i class="fa fa-refresh"> REFRESH</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Export", "FixedComponents")">
                    <i class="fa fa-sign-out"> EXPORT</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Import", "FixedComponents")">
                    <i class="fa fa-arrow-circle-o-left"> IMPORT</i>
                </a>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FixedComponentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.F01)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.F02)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.F03)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FixedComponentCreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FixedComponentDateCreatedOn)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FixedComponentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.F01)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.F02)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.F03)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FixedComponentCreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FixedComponentDateCreatedOn)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" data-position="bottom" data-delay="50" title="Edit Records" href="@Url.Action("Edit", "FixedComponents", new { id=item.FixedComponentID })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-info" data-position="bottom" data-delay="50" title="Detail Records" href="@Url.Action("Details", "FixedComponents", new { id=item.FixedComponentID })">
                                        <i class="fa fa-list"></i>
                                    </a>
                                    <a class="btn btn-warning" data-position="bottom" data-delay="50" title="Delete Records" href="@Url.Action("Delete", "FixedComponents", new { id=item.FixedComponentID })">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
