@model IEnumerable<SJAHE_BASE_LIBRARY.Models.AP_ApplicationModule>

@{
    ViewBag.Title = "Index";
}


<div class="box box-primary">
    <div class="box-header ui-sortable-handle">
        <i class="fa fa-clipboard"> Application Modules</i>
        <div class="box-tools pull-right">
            <div class="btn-group">
                <a class="btn btn-danger" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Create", "ApplicationModules")">
                    <i class="fa fa-plus"> NEW</i>
                </a>
                <a class="btn btn-warning" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Index", "ApplicationModules")">
                    <i class="fa fa-refresh"> REFRESH</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Export", "ApplicationModules")">
                    <i class="fa fa-sign-out"> EXPORT</i>
                </a>
                <a class="btn btn-info" data-position="bottom" data-delay="50" data-tooltip="Add new agent" href="@Url.Action("Import", "ApplicationModules")">
                    <i class="fa fa-arrow-circle-o-left"> IMPORT</i>
                </a>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationModuleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationModuleCreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationModuleCreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationModuleStatus)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationModuleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationModuleCreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationModuleCreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationModuleStatus)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" data-position="bottom" data-delay="50" title="Edit Records" href="@Url.Action("Edit", "ApplicationModules", new { id=item.ApplicationModuleID })">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-info" data-position="bottom" data-delay="50" title="Copy Records" href="@Url.Action("Copy", "ApplicationModules", new { id=item.ApplicationModuleID })">
                                        <i class="fa fa-list"></i>
                                    </a>
                                    <a class="btn btn-warning" data-position="bottom" data-delay="50" title="Delete Records" href="@Url.Action("Delete", "ApplicationModules", new { id=item.ApplicationModuleID })">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
