@model SJAHE_BASE_LIBRARY.Models.PA_LevelType

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4><i class="fa fa-edit"></i> EDIT FORM</h4>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.LevelTypeID)

            <div class="form-group">
                @Html.LabelFor(model => model.LevelTypeName, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.LevelTypeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LevelTypeName, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LevelSequence, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.LevelSequence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LevelSequence, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <div class="">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
