@model IEnumerable<SJAHE_BASE_LIBRARY.Models.PY_EmpTarifComponent>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PY_TarifComponent.TarifComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifComponentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETF01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETF02)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETF03)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpTarifComponentCreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpTarifComponentDateCreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PY_TarifComponent.TarifComponentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TarifComponentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETF01)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETF02)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETF03)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpTarifComponentCreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpTarifComponentDateCreatedOn)
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" data-position="bottom" data-delay="50" title="Edit Records" href="@Url.Action("Edit", "EmployeeTarifComponents", new { id=item.EmpTarifComponentID })">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-info" data-position="bottom" data-delay="50" title="Detail Records" href="@Url.Action("Details", "EmployeeTarifComponents", new { id=item.EmpTarifComponentID })">
                            <i class="fa fa-list"></i>
                        </a>
                        <a class="btn btn-warning" data-position="bottom" data-delay="50" title="Delete Records" href="@Url.Action("Delete", "EmployeeTarifComponents", new { id=item.EmpTarifComponentID })">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
