@model SJAHE_BASE_LIBRARY.Models.AP_SubChildMenu

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-pink">
        <div class="panel-heading">
            <h4><i class="fa fa-edit"></i> EDIT FORM</h4>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SubChildMenuID)

            <div class="form-group">
                @Html.LabelFor(model => model.SubMenuID, "SubMenuID", htmlAttributes: new { @class = "control-label" })

                @Html.DropDownList("SubMenuID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubMenuID, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubChildMenuName, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.SubChildMenuName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubChildMenuName, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubChildUrl, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.SubChildUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubChildUrl, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubChildMenuStatus, htmlAttributes: new { @class = "control-label" })

                <br />
                @Html.EditorFor(model => model.SubChildMenuStatus)
                @Html.ValidationMessageFor(model => model.SubChildMenuStatus, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <div class="">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
